@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;

  --primary: #7cb7ff;
  --secondary: #cfe3ff;
  --accent: #38e8ff;

  --main: #e6edff;
  --muted: #9aa4b2;

  --border-soft: rgba(20,20,20,0.2);
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border-c: var(--border-soft);
  --color-text-main: var(--main);
}


html,
body,
#root {
  width: 100%;
  height: 100%;
}




.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  background:
    /* glow spots */
    radial-gradient(circle at 30% 20%, rgba(80,120,255,0.12), transparent 45%),
    radial-gradient(circle at 70% 60%, rgba(120,200,255,0.10), transparent 50%),

    /* grid lines */
    linear-gradient(
      rgba(255,255,255,0.04) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255,255,255,0.04) 1px,
      transparent 1px
    ),

    /* base gradient */
    linear-gradient(180deg, #05070f 0%, #03040a 100%);

  background-size:
    auto,
    auto,
    80px 80px,
    80px 80px,
    cover;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(circle, rgba(255,255,255,0.35) 1px, transparent 1px);
  background-size: 80px 80px;
  opacity: 0.25;
  pointer-events: none;
}



.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    ellipse at center,
    transparent 40%,
    rgba(0,0,0,0.85) 100%
  );
  pointer-events: none;
}


.content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #cfe3ff;
  text-align: center;
}


